{% extends 'base.html' %}

{% block content %}
    <div class="articles">
        {% for article in articles %}
            <article>
                <h2><a href="{{ article[1].link }}" target="_blank">{{ article[1].title }}</a></h2>
                <p class="author"><img src="{{ url_for('static', filename='img/user-solid.svg') }}" alt="author-icon" class="author-icon" width="48px">&nbsp;&nbsp;&nbsp;{{  article[1].author if article[1].author else "No Author" }}</p>
                <p class="source">{{ article[0] }}</p>
                <br>
                <p class="date">{{ article[1].published }}</p>
            </article>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('index', page=page-1) }}" class="prev">Previous</a>
        {% endif %}
        {% if page < total_pages %}
            <a href="{{ url_for('index', page=page+1) }}" class="next">Next</a>
        {% endif %}
    </div>
    <p class="pages-info">Total Pages: {{ total_pages }} &nbsp;&nbsp; Current Page: {{ page }}</p>
{% endblock %}